.card {
    background-color: white;
    padding: 2.5rem;
    width: 30rem;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}