.paginationContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginationButtons {
    display: flex;
    gap: 0.3rem;
    font-size: 0.75rem;

    .hideOnMobile {
        @media (max-width: 850px) {
            display: none;
        }
    }
}

.active {
    background-color: var(--primary-dark);
    color: var(--foreground);
}
