.table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    td,
    th {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        overflow-wrap: break-word;
    }
}

.thead {
    background-color: var(--primary);
    border-top: 1px solid #ddd;
}

.sortable {
    cursor: pointer;

    div {
        display: flex;
        align-items: center;
    }

    &:hover {
        .sortIcon {
            opacity: 1;
        }
    }
}

.sortIcon {
    opacity: 0;
    margin-left: 0.3rem;
    margin-bottom: -.1rem;
    transition: opacity 0.2s ease;
}