.table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    td,
    th {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        white-space: nowrap;
    }
}

.thead {
    background-color: var(--primary);
    border-top: 1px solid #ddd;
}