.searchGrid {
    font-size: 0.8rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 32%);
    
    @media screen and (min-width: 700px) {
      grid-template-columns: repeat(3, 32%);
    }
}

input[placeholder='Gatenavn'] {
    grid-column: 1 / 3;
}
