.tooltipContent {
    padding: .5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    p {
        font-weight: 600;
    }

    a {
        color: inherit;
        text-decoration: underline lightgray;
        text-underline-offset: 4px;
        transition: all 0.2s ease-in-out;

        &:hover {
            text-decoration: underline var(--primary);
        }
    }
}
