.header {
    z-index: 200;
    height: 4rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (min-width: 700px) {
        padding: 0 2rem;
        justify-content: flex-start;
    }
}

.menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.2rem;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 0.2rem;
        background-color: var(--foreground);
        transform-origin: 0 0;
        transition: transform 0.3s ease-out;
    }

    .menuIconMiddleLine {
        position: absolute;
        top: 0.5rem;
        left: 0;
        width: 20px;
        height: 0.2rem;
        background-color: var(--foreground);
        transition: all 0.3s ease-out;
        transform-origin: 0 50%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 1rem;
        left: 0;
        width: 20px;
        height: 0.2rem;
        background-color: var(--foreground);
        transform-origin: 0 100%;
        transition: transform 0.3s ease-out;
    }

    @media screen and (min-width: 700px) {
        display: none;
    }
}

.closeX {
    &::before {
        transform: rotate(45deg) scaleX(1.25) translateY(-1px);
    }

    .menuIconMiddleLine {
        opacity: 0;
        transform: scaleX(0);
    }

    &::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(2px);
    }
}
