.formGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.6rem;
    align-items: center;

    label {
        font-weight: bold;
    }

    input,
    select {
        width: 100%;
    }

    &:disabled > *,
    input:disabled {
        border: none;
        background-color: transparent;
    }

    select {
        text-overflow: ellipsis;
        padding-left: 0.3rem;
    }
}

input[readOnly] {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.grid2columns {
    grid-column: 1 / -1;
}