.tableContainer {
    overflow-y: auto;
    font-size: 0.875rem;
}

.wrapText {
    overflow-wrap: break-word;
    min-width: 15rem;
}

.center {
    text-align: center;
}

.actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
}