.searchAndExport {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
    .searchContainer {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        position: relative;
    }
    
    .exportContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    @media (min-width: 700px) {
        flex-direction: row;
        justify-content: space-between;

        select {
            margin-right: auto;
        }
    }
}

.clearIcon {
    cursor: pointer;
    transition: transform 0.2s;
    color: var(--muted-foreground);
    background-color: white;
    margin-left: -2rem;
    margin-right: 0.5rem;

    &:hover {
        transform: scale(1.2);
    }
}

.noResults {
    color: var(--muted-foreground);
}
