.nav {
    display: flex;
    align-items: center;
}

.navTabs {
    margin: 0;
    padding-left: 1rem;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
}

.navTab {
    display: block;
    padding: 1rem;
    transition: background-color ease 0.2s;
    cursor: pointer;
}

.navTab:hover {
    background-color: hsl(from var(--destructive) h s 70%);
    color: var(--secondary);
}

.active {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
}

.userMenuBtn {
    background-color: var(--primary);
    color: var(--foreground);
    border: none;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    transition:
        background-color ease 0.2s,
        transform 0.1s;

    &:hover {
        background-color: hsl(from var(--primary) h s 70%);
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }

    &.active {
        background-color: hsl(from var(--primary) h s 70%);
    }
}
