.nav {
    display: flex;
    align-items: center;
}

.navTabs {
    margin: 0;
    padding-left: 1rem;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
}

.logOut {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;

    display: flex;
    align-items: center;

    &:hover {
      transform: scale(1.1);
    }
  
    &:active {
      transform: scale(0.9);
    }
}

.navTab {
    display: block;
    padding: 1rem;
    transition: background-color ease 0.2s;
    cursor: pointer;
}

.navTab:hover {
    background-color: hsl(from var(--destructive) h s 70%);
    color: var(--secondary);
}

.active {
    background-color: var(--destructive);
    color: var(--primary-foreground);
}
