.projectCard {
    background-color: var(--primary);
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
}

.projectHeader {
    padding: 1rem;
    border-bottom: 1px solid #e7e7e7;
}

.projectData {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.01);

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;

        &:hover {
            text-decoration: underline;
            color: #05564e;
        }
    }
}

.pieChart {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
