fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

label[for] {
    cursor: pointer;
}

.horizontalLine {
    margin: 1.5rem 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-right: .5rem;
}
