@view-transition {
    navigation: auto;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        font-weight: 600;
    }
}

.cta {
    display: flex;
    justify-content: space-between;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
        font-weight: 600;
        margin: 0;
    }
}