.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.removeLink {
    text-align: right;
}

.back {
    margin-bottom: 1rem;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    table {
        flex: 1;
        min-width: fit-content;
    }
}
