.appLayout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    flex: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.padding {
    padding: 1rem;

    @media screen and (min-width: 700px) {
        padding: 2rem;
    }
}