.navLink {
  height: 3rem;
  width: 3rem;
  text-align: center;
  color: var(--foreground);
  cursor: pointer;
  border: none;
  background-color: transparent;
/* 
  display: flex;
  justify-content: center;
  align-items: center; */

  &:hover {
    background-color: var(--muted);
  }
}

.active {
  background-color: var(--primary);
}
