.navLink {
  display: block;
  padding: 0.7rem;
  text-align: center;
  color: var(--foreground);
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--muted);
  }
}

.active {
  background-color: var(--primary);
}
