.section {
  display: none;
  width: 25rem;
}

.open {
  display: block;
}

.sectionHeader {
  height: 3rem;
  padding: 0 1rem;
  background-color: var(--primary);
  font-size: 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    color: var(--gray-dark);
  }
}

.sectionContent {
  padding: 1rem;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}