.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
}

.loginInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginAction {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statusMessage {
    background-color: var(--success);
    color: var(--success-foreground);
    padding: 1rem;
    border-radius: var(--radius);
    text-align: center;
}