.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginAction {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statusMessage {
    background-color: var(--success);
    color: var(--success-foreground);
    padding: 1rem;
    border-radius: var(--radius);
    text-align: center;
}

.rememberMe {
    flex-direction: row;
    justify-content: start;
    gap: 0;
}